@mixin responsivi(){
    @media screen and (max-width: 640px){
        @content;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #0d0d0d;
    font-family: 'opens sans', sans-serif;
    @import 'partials/typography';
    @import 'partials/colors';
    @import 'partials/layout';
    
    
}