@mixin responsivi($breakpoint){
    @media screen and (max-width: $breakpoint){
        @content;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;

    @import 'partials/layout';
    @import 'partials/colors';
    @import 'partials/typography';
}